<header data-role="header">
    <div data-role="navbar"> 
        <button class="nav-button" data-align="right" data-role="button" data-bind="click: saveSiteSettings, text: system.strings.save"></button>
        
        <button class="nav-button" data-align="right" data-role="button" data-bind="click: closeSiteSettings, text: system.strings.cancel"></button>
    </div>
</header>

<ul data-role="listview" data-style="inset">
    <li>
        <label>
            <span data-bind="text: system.strings.siteUrl" />
            <input type="search" data-bind="value: url, event: { blur: validateSiteUrl }" />
        </label>      
    </li>
</ul>          