<header data-role="header">
    <div data-role="navbar">    
		<button data-role="backbutton" class="transparent-button back-button-head" data-align="left"></button>				
    </div>
</header>

<h3 data-bind="text: documentTitle"></h3>
<ul data-bind="foreach: documentDataSource" data-style="inset">
    <li data-bind="ifnot: hidden">
        <label>
            <p class="list-view-label">
                <span data-bind="text: displayName" />		
                <span>: </span>
            </p> 
			<span data-bind="text: value"></span>
        </label>
    </li>      
</ul>
