<header data-role="header">
    <div data-role="navbar">    
		<button data-role="backbutton" class="transparent-button head-back-button" data-align="left"></button>				
    </div>
</header>

<form>
	<div>
	    <h3 data-bind="text: documentTitle"></h3>
	    
		<ul data-role="listview" data-bind="foreach: documentDataSource" data-style="inset">
            <!-- ko ifnot: hidden -->
                <li class="full-width">
                    <label>
                        <p>
                            <span class="bold" data-bind="text: displayName" />		
                            <span class="bold">: </span>                    
            			    <span data-bind="text: value"></span>
                        </p> 
                    </label>
                </li>  
            <!-- /ko -->
	    </ul>
	</div>
</form>
