<header data-role="header">
    <div data-role="navbar"> 
		<button class="transparent-button center" data-align="left">
			<img src="app/images/kl_head.png" />
        </button>	
		<button data-align="left" data-role="button" class="transparent-button"></button>
		        
		<button class="nav-button" data-align="right"
			data-role="button" data-icon="compose" 
			data-bind="click: editSite, style: { visibility: navBarVisible() ? 'visible' : 'hidden' }">
		    <span data-bind="text: system.strings.editSite"></span>
        </button>
        <button class="nav-button" data-align="right" 
				data-role="button" data-icon="delete" 
				data-bind="click: deleteSite, style: { visibility: navBarVisible() ? 'visible' : 'hidden' }">
			<span data-bind="text: system.strings.deleteSite"></span>
        </button>
		<button class="nav-button" data-align="right"
            data-role="button" data-icon="add" data-bind="click: addSite">
            <span data-bind="text: system.strings.addSite"></span>
        </button>
    </div>
</header>

<ul id="listView" data-role="listview" data-bind="foreach: siteDataSource" >
	<!--<li data-bind="css: { 'item': window.App.os.android, 'highlight': $parent.isSelectedSite($data) }">-->
	<li data-bind="css: { 'highlight': $parent.isSelectedSite($data) }, click: $parent.siteClick">
		<div class="itemContainer">			
	        <div class="site">
				<div class="imageContainer">
	                <a data-bind="click: $parent.setSelectedSite">
	                    <img class="siteIcon" width="32" data-bind="majorVersionToSiteIcon: majorVersion"/>
	                </a>
				</div>
	            
				<h3 class="siteTitle" data-bind="text: title"></h3>
	        </div>			
	    </div>
	</li>
</ul>