<header data-role="header">
    <div data-role="navbar"> 
		<button data-role="backbutton" class="transparent-button head-back-button" data-align="left"></button>				
    </div>
	
	<div class="pageHeading">
		<h4 data-bind="text: strings().ViewLogs"></h4>
    </div>
</header>

<p>
	<a class="traditional-link" data-bind="text: strings().EmailLogsToSupport, click: emailLogsToSupport"></a>
</p>

<div>
	<h3 data-bind="text: strings().Logs"></h3>
	
	<ul data-role="listview" data-style="inset" data-bind="foreach: logs">
		<li>
			<label>
				<div class="relative-container">
					<table>
						<tr>
							<td>
								<img width="16" data-bind="logLevelToIcon: key" />		
                            </td>
							<td>
								<span class="list-view-label" data-bind="text: value, logLevelToCss: key"></span>
							</td>
                        </tr>
                    </table>					
				</div>
            </label>
        </li>
	</ul>
</div>