<header data-role="header">
    <div data-role="navbar">        
        <button class="nav-button" data-align="right"
				data-role="button" data-icon="compose" 
				data-bind="click: editProperties, style: { visibility: navBarVisible() ? 'visible' : 'hidden' }">
			<span data-bind="text: system.strings.editProperties"></span>
        </button>
    </div>
</header>

<h3 data-bind="if: resultDataSource().length === 0">No results found...</h3>
<ul id="listView" data-role="listview" data-bind="foreach: resultDataSource" >
	<li data-bind="css: { 'item': window.App.os.android, 'highlight': $parent.isSelectedResult($data) }">
        <a data-bind="click: $parent.setSelectedResult">
            <img class="resultIcon" data-bind="urlToFileTypeIcon: url"/>
        </a>
        <h3 class="resultTitle" data-bind="text: title"></h3>
	</li>
</ul>

<footer data-role="footer">
    <div data-role="tabstrip">
        <a href="#home" data-icon="home">
            <span data-bind="text: system.strings.homeLinkText"></span>
        </a>
    </div>
</footer>

<style type="text/css">    
    .resultIcon {
        float: left;
    }
    .resultTitle {
        display: inline-block;
        font-size: 1em;
        margin: .45em 0 0 .75em;
    }    
</style>