<header data-role="header">
    <div data-role="navbar">        
        <button class="nav-button" data-align="right"
				data-role="button" data-icon="compose" 
				data-bind="click: editProperties, style: { visibility: navBarVisible() ? 'visible' : 'hidden' }">
			<span data-bind="text: system.strings.editProperties"></span>
        </button>
    </div>
</header>

<h3 data-bind="if: resultDataSource().length === 0">No results found...</h3>
<ul id="listView" data-role="listview" data-bind="foreach: resultDataSource" >
	<li data-bind="css: { 'item': true, 'highlight': $parent.isSelectedResult($data) }">
        <div class="klljlj">
            <div class="imageContainer">
                <a data-bind="click: $parent.setSelectedResult">
                    <img class="resultIcon" data-bind="urlToFileTypeIcon: url"/>
                </a>
            </div>
            <div class="resultContentContainer" data-bind="click: $parent.navigateToResult">
                <div class="resultTitleContainer">
                    <h1 class="resultTitle" data-bind="text: metadata.Title"></h1>
                </div>
                <div class="resultLastModifiedContainer">
                    <span data-bind="text: metadata.LastModifiedTime"></span>
                </div>
            </div>
        </div>
	</li>
</ul>

<footer data-role="footer">
    <div data-role="tabstrip">
        <a href="#home" data-icon="home">
            <span data-bind="text: system.strings.homeLinkText"></span>
        </a>
    </div>
</footer>

<style type="text/css">    
    .resultIcon {
        float: left;
    }
    .resultTitle {
        display: inline-block;
        font-size: 1em;
        margin: .45em 0 0 .75em;
    }    
</style>