<header data-role="header">
    <div data-role="navbar"> 
		<button data-role="backbutton" class="transparent-button back-button-head" data-align="left"></button>				
    </div>
</header>

<div data-bind="if: site()">
    <h3 data-bind="text: site().title"></h3>
</div>

<ul data-role="listview" data-style="inset">
	<li>
		<div class="keywordContainer">
			<div class="keywordInputContainer deleteicon">
				<input id="savedSearchKeywordInput" type="search"
    	   			data-bind="value: keyword, valueUpdate: 'afterkeydown', event: { keyup: onSearchKeyUp }, attr: { placeholder: strings().keywordsWatermark }, css: { 'keyword': true, 'invalid' : !isKeywordValid() } " />
				<a data-bind="click: clearKeyword"></a>
            </div>
			
			<div id="keywordSearchButtonContainer"> 
				<button data-role="button" data-icon="search" data-bind="click: search, enable: isKeywordValid" class="" />
            </div>			
		</div>			
    </li>
</ul>    

<p class="align-right">
	<input type="radio" name="savedSearchConjunction" data-bind="value: keywordConjunction.and, checked: wordConjunction" />
	<span data-bind="text: strings().And"></span>
	
	<input type="radio" name="savedSearchConjunction" data-bind="value: keywordConjunction.or, checked: wordConjunction" />
	<span data-bind="text: strings().Or"></span>
</p>       

<!--<div>
    <h3 data-bind="text: strings().localSavedSearches"></h3>
	
	<ul data-role="listview"></ul>
</div>-->

<form>
	<div>
	    <h3 data-bind="text: strings().serverSavedSearches"></h3>
	    
		<ul data-role="listview" data-bind="foreach: searchDataSource" data-style="inset">
	        <!--data-bind="checked: isHttps, enable: enableUrl, click: httpsClick"-->
	        <li data-bind="css: { 'highlight': $parent.isSelectedSearch($data) }, click: $parent.searchClick">            
	            <!--<div>
	                <input type="radio" data-bind="checked: title" />
	            </div>-->
	            <div>
	                <h3 data-bind="text: title"></h3>                  
	            </div>       
	        </li>
	    </ul>
	</div>
</form>

<!--<footer data-role="footer">
    <div data-role="tabstrip" data-selected-index="100">
        <a href="#home" data-icon="home">
            <span data-bind="text: strings().homeLinkText"></span>
        </a>
    </div>
</footer>-->