<header data-role="header">
    <div data-role="navbar">       
		<button data-role="backbutton" data-align="left">
			<span data-bind="text: system.strings.back"></span>
        </button>
    </div>
</header>

<div data-bind="if: site()">
    <h3 data-bind="text: site().title"></h3>
</div>
<div class="keywordContainer">				
    <input type="search"
    	   data-bind="value: keyword, valueUpdate: 'afterkeydown', event: { keyup: onSearchKeyUp }, attr: { placeholder: system.strings.keywordsWatermark }, css: { 'keyword': true, 'text-border': true, 'invalid' : !isKeywordValid() } " />
    
    <button data-role="button" data-icon="search" data-bind="click: search, enable: isKeywordValid"/>
</div>
<div>
    <h3 data-bind="text: system.strings.localSavedSearches"></h3>
</div>
<div>
    <h3 data-bind="text: system.strings.serverSavedSearches"></h3>
</div>

<footer data-role="footer">
    <div data-role="tabstrip" data-selected-index="100">
        <a href="#home" data-icon="home">
            <span data-bind="text: system.strings.homeLinkText"></span>
        </a>
    </div>
</footer>