<header data-role="header">
    <div data-role="navbar">       
		<button data-role="backbutton" data-align="left">
			<span data-bind="text: system.strings.back"></span>
        </button>
    </div>
</header>

<div>				
    <input type="search"
    	   data-bind="value: keyword, valueUpdate: 'afterkeydown', event: { keyup: onSearchKeyUp }, attr: { placeholder: system.strings.keywordsWatermark }, css: { 'keyword': true, 'text-border': true, 'invalid' : !isKeywordValid() } " />
    
    <button class="searchButton" data-bind="click: search, enable: isKeywordValid">
    	<span data-bind="text: system.strings.search"></span>					
    </button>
</div>

<footer data-role="footer">
    <div data-role="tabstrip" data-selected-index="100">
        <a href="#home" data-icon="home">
            <span data-bind="text: system.strings.homeLinkText"></span>
        </a>
    </div>
</footer>