<header data-role="header">
    <div data-role="navbar"> 
		<button data-role="backbutton" class="transparent-button back-button-head" data-align="left"></button>				
    </div>
</header>

<div data-bind="if: search()">
    <h3 data-bind="text: search().title"></h3>
</div>

<ul data-role="listview" data-style="inset">
	<li>
		<div class="keywordContainer">
			<div id="keywordInputContainer" class="deleteicon">
				<input id="keywordInput" type="search"
    	   			data-bind="value: keyword, valueUpdate: 'afterkeydown', event: { keyup: onSearchKeyUp }, attr: { placeholder: system.strings.keywordsWatermark }, css: { 'keyword': true, 'invalid' : !isKeywordValid() } " />
				<a data-bind="click: clearKeyword"></a>
            </div>
			
			<div id="keywordSearchButtonContainer"> 
				<button data-role="button" data-icon="search" data-bind="click: executeSearch" class="" />
            </div>			
		</div>
    </li>
</ul>

<p class="align-right">
	<input type="radio" name="searchBuilderConjunction" data-bind="value: keywordConjunction.and, checked: wordConjunction" />
	<span data-bind="text: system.strings.And"></span>
	
	<input type="radio" name="searchBuilderConjunction" data-bind="value: keywordConjunction.or, checked: wordConjunction" />
	<span data-bind="text: system.strings.Or"></span>
</p> 


<div data-bind="foreach: searchBuilderDataSource">
	<h4 data-bind="text: $data.selectedProperty"></h4>
	
	<ul data-bind="kendoListView: { style: 'inset' }">  
		<li>
			<label data-bind="searchPropertyBuilder: { data: $data, search: $root.search, properties: $root.propertiesName }">				
            </label>
		</li>
	</ul>
	
	<!-- enable: $root.search.type === 0 -->
	<p class="align-right">
		<input type="radio" data-bind="value: $root.keywordConjunction.and, checked: conjunction, attr: { name: name }, enable: $root.search.type === 0" />
		<span data-bind="text: system.strings.And"></span>
		
		<input type="radio" data-bind="value: $root.keywordConjunction.or, checked: conjunction, attr: { name: name }, enable: $root.search.type === 0" />
		<span data-bind="text: system.strings.Or"></span>
	</p> 
</div>

<!--<div id="addPropertyButtonContainer"> 
	<button data-role="button" data-bind="click: addProperty" class="">Add Property</button>
</div>-->

<!--<footer data-role="footer">
    <div data-role="tabstrip" data-selected-index="100">
        <a href="#home" data-icon="home">
            <span data-bind="text: system.strings.homeLinkText"></span>
        </a>
    </div>
</footer>-->