<header data-role="header">
    <div data-role="navbar"> 
		<button class="transparent-button head-back-button" data-align="left" data-bind="click: navigateBack"></button>				
    </div>
</header>

<div data-bind="if: search()">
    <h3 data-bind="text: search().title"></h3>
</div>

<ul data-role="listview" data-style="inset">
	<li>
		<div class="keywordContainer">
			<div class="keywordInputContainer deleteicon">
                <input id="searchBuilderAutoComplete" class="keyword" type="search" data-bind="click: popSuggestions, event: { keyup: onSearchKeyUp }, kendoKeywordBox: autoCompleteBox" />
				
				<a data-bind="click: clearKeyword"></a>
            </div>
			
			<div id="keywordSearchButtonContainer"> 
				<button data-role="button" data-icon="search" data-bind="click: executeSearch" class="searchButton" />
            </div>			
		</div>			
    </li>
</ul>    

<p class="align-right">
	<input type="radio" name="searchBuilderConjunction" data-bind="value: keywordConjunction.and, checked: wordConjunction" />
	<span data-bind="text: strings().And"></span>
	
	<input type="radio" name="searchBuilderConjunction" data-bind="value: keywordConjunction.or, checked: wordConjunction" />
	<span data-bind="text: strings().Or"></span>
</p> 


<div data-bind="foreach: searchBuilderDataSource">
	<h4 data-bind="text: $data.selectedProperty"></h4>
	
	<ul data-bind="kendoListView: { style: 'inset' }">  
		<li>
			<div data-bind="searchPropertyBuilder: { data: $data, search: $root.search, properties: $root.propertiesName }">				
            </div>
		</li>
	</ul>
	
	<p class="align-right" data-bind="visible: conjunctionVisible">
		<input type="radio" data-bind="value: $root.keywordConjunction.and, checked: conjunction, attr: { name: key }, enable: $root.search.type === 0" />
		<span data-bind="text: $root.strings().And"></span>
		
		<input type="radio" data-bind="value: $root.keywordConjunction.or, checked: conjunction, attr: { name: key }, enable: $root.search.type === 0" />
		<span data-bind="text: $root.strings().Or"></span>
	</p> 
</div>

<!--<div id="addPropertyButtonContainer"> 
	<button data-role="button" data-bind="click: addProperty" class="">Add Property</button>
</div>-->

<!--<footer data-role="footer">
    <div data-role="tabstrip" data-selected-index="100">
        <a href="#home" data-icon="home">
            <span data-bind="text: strings().homeLinkText"></span>
        </a>
    </div>
</footer>-->