body {
    font: Arial, sans-serif;
}


div.imageContainer {
    float: left;
}

div.status-message,
div.error-message {
    margin-left: 15px;
    margin-right: 15px;
}

div.status-message {
    color: Green;
}

div.error-message { 
    color: Red;
}

img.margin-img {
    margin-left: -18px;
}

.list-view-label {
    width: 30%!important; 
    word-wrap: break-word
}

p.list-view-input {
    width: 65%!important;
}

.full-width {
    width: 100%;
}

.opaque {
    opacity: 1;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
}

.fade-out {
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
}