<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.zenexity.softkeyboardplugin"
    version="1.0.0">

    <name>SoftKeyBoard</name>

	<engines>
	    <engine name="cordova" version=">=2.4.0" />
	</engines>

    <asset src="www/softkeyboard.js" target="softkeyboard.js" />

    <!-- android -->
    <platform name="android">
        <!-- Cordova >= 2.0.0 -->
        <config-file target="res/xml/config.xml" parent="plugins">
            <plugin name="SoftKeyBoard"
                value="com.zenexity.SoftKeyBoardPlugin.SoftKeyBoard"/>
        </config-file>

        <source-file src="src/android/SoftKeyBoard.java"
                target-dir="src/com/phonegap/plugins/SoftKeyBoard" />
    </platform>    
</plugin>
